body {
  height: 100%;
  margin: 0px;
  position: relative;
}




.container {
  display: flex;
  flex-flow: row nowrap;
  height: 90vh;
  width: 100%;
  padding: 25px;
}

.list {
  margin-right: 40px;
}

.form {}
