.event-item {
  display: flex;
  flex-flow: row nowrap;
  width: 75%;
  margin: 20px 0px;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: gainsboro;
}

.event-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: #fb7813;
  border-radius: 5px 0px 0px 5px;
  color: whitesmoke;
  font-size: 30px;
  font-family: 'Nunito',
    sans-serif;
  font-weight: 900;
}

.event-date p {
  margin: 3px;
}

.event-info {
  width: 85%;
  padding: 10px;
}

.event-info * {
  margin-left: 10px;
}

.event-info h1 {
  color: black;
  font-size: 35px;
  font-family: 'Nunito',
    sans-serif;
  font-weight: 900;
  margin-top: 3px;
  margin-bottom: 3px;
}

.event-logistics {
  color: lightslategrey;
  font-size: 15px;
  font-family: 'Nunito',
    sans-serif;
  font-weight: 300;
}

.event-logistics * {
  margin-left: 0px;
}



.next-event-item {
  background-color: #fa7d09;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 200px;
  color: whitesmoke;
}

.next-event-item h3 {
  font-family: 'Nunito',
    sans-serif;
  font-weight: 600;
  font-size: 25px;

  position: absolute;
  left: 35px;
  top: 10px;
}

.next-event-item-content {
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.next-event-date {
  font-family: 'Nunito',
    sans-serif;
  font-weight: 600;
  font-size: 50px;
  width: auto;
}

.next-event-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.next-event-info h1 {
  font-family: 'Nunito',
    sans-serif;
  font-weight: 300;
  margin: 2px 0px 10px;
}

.next-event-logistics {
  font-family: 'Nunito',
    sans-serif;
  font-weight: 600;
  text-align: center;
}

.next-event-logistics p {
  margin: 2px;
}
